.product-list {
    display: flex;
    flex-wrap: wrap; 
    list-style-type: none; 
    padding: 0; 
  }
  
  .product-item {
    flex: 0 0 calc(33.33% - 20px); /* Bredden på varje produkt */
    margin: 10px; /* Yttre marginal för varje produkt */
    border: 1px solid #ccc; /* Kant runt varje produkt */
    padding: 10px; /* Utfyllnad runt varje produkt */
    box-sizing: border-box; /* Räkna med kantbredden i produktens totala bredd */
  }